.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav-link-active {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover{
  color: gray;
}
